<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>组件改写todoList</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="root"></div>
    <script>
        // 创建Vue的实例
        const app = Vue.createApp({
            // 定义数据
            data() {
                return {
                    list:[],
                    inputValue:"",
                }
            },
            // 定义方法
            methods: {
                handleAddItem() {
                    this.list.push(this.inputValue)
                    // 清空输入框内容
                    this.inputValue = ""
                }
            },
            /*父组件通过v-bind绑定属性的方式传值给子组件*/
            template: `
                <div>
                  <input v-model="inputValue"/>
                  <button
                   v-on:click="handleAddItem"
                   v-bind:title="inputValue"
                  >
                   增加
                   </button>
                  <ul>
                    <todo-item
                     v-for="(item,index) of list" 
                     v-bind:content="item" 
                     v-bind:index="index"
                    />
                  </ul>
                </div>
            `
        })

        // 子组件通过props接收父组件传递过来的数据
        app.component('todo-item',{
            props:['content','index'],
            template: `<li>{{content}} --- {{index}}</li>`
        })
        // 将vue实例挂在到页面上
        app.mount('#root')
    </script>
</body>

</html>