<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="root"></div>
    <script>
    // const app = Vue.createApp({
    //     data() {
    //         return {
    //           show: false
    //         }
    //     },
    //     template: `
    //         <div v-if="show">Hello World !</div>
    //         <div v-show="show">Bye World !</div>
    //     `
    // })
    // const vm = app.mount('#root')

    const app = Vue.createApp({
        data() {
            return {
              show: false,
              conditionOne: false,
              conditionTwo: true
            }
        },
        template: `
            <div v-if="conditionOne">v-if</div>
            <div v-else-if="conditionTwo">v-else-if</div>
            <div v-else>v-else</div>
        `
    })
    const vm = app.mount('#root')
    </script>
</body>

</html>